.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
esbuild.js
eslint.config.mjs
vsc-extension-quickstart.md
pnpm-lock.yaml
pnpm-workspace.yaml
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
